ErrorDocument 403 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 404 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 405 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 408 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 500 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 502 /Php-vitrine_mvc-veterinaire/view/error.php
ErrorDocument 504 /Php-vitrine_mvc-veterinaire/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /Php-vitrine_mvc-veterinaire/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /Php-vitrine_mvc-veterinaire/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /Php-vitrine_mvc-veterinaire/?p=$1&a=$2&animalid=$3&visiteId=$4&prescrire=$5 [L]